
<div class="container store-show-containt">
  <div class="row">
    <div class="col-md-5 store-info">
      <center><h1 class="store-info__name"><%= @store.name %></h1></center>
      <div id="star1"></div>
      <table class="table store-info__infomation-table">
        <tr>
          <td>住所</td>
          <td><%= @store.address %> </td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @store.phone_number %> </td>
        </tr>
        <tr>
          <td>営業日</td>
          <td><%= @store.business_day %> </td>
        </tr>
        <tr>
          <td>営業時間</td>
          <td><%= @store.business_time %> </td>
        </tr>
        <tr>
          <td>席数</td>
          <td><%= @store.seat %> </td>
        </tr>
        <tr>
          <td>平均予算</td>
          <td><%= @store.budget %> </td>
        </tr>
        <% if @store.banquet_hall_capacity > 0 %>
          <tr>
            <td>宴会場の最大収容人数</td>
            <td><%= @store.banquet_hall_capacity %></td>
          </tr>
        <% end %>
        <tr>
          <td>HP</td>
          <td><%= link_to @store.hp, @store.hp %></td>
        </tr>
      </table>
    </div>
    <div class="col-md-7 store-images">
      <%= image_tag 'tosa1.jpg', class: 'store-images__image' %>
    </div>
  </div>


  <div class="store-review-form">
    <h2 class="store-review-form__title">レビュー投稿欄</h2>
    <%= form_for @new_review do |r| %>
      <%= r.text_area :body, maxlength: 1000, class: 'store-review-form__text-area' %>
      <%= r.submit '投稿する', class: 'store-review-form__submit-button' %>
    <% end %>
  </div>
  <table>


   <% @reviews.each do |review| %>
   <tr>
     <td>
       <%= review.body %>
     </td>
     <td><%= review.id %></td>

     <td><%= link_to 'show', store_review_path(id: review) %>
     <%= link_to 'edit', edit_store_review_path(id: review) %>
     <%= link_to 'delete', store_review_path(id: review), method: :delete %>
     </td>
     </tr>
     <% end %>
  </table>

  <%= will_paginate @reviews, previous_label: '<前ページ', next_label: '次ページ>' %>
</div>
