<h1>New Review</h1>

<%= form_for @review do |f| %>

<p> body </p>
  <%= f.text_area :body %>
<p> param1 </p>
  <%= f.text_area :param1 %>
<p> param2 </p>
  <%= f.text_area :param2 %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>
