<% @resorts.each do |resort| %>
  <div id="my-modal-content-0<%=resort.id%>" class="my-modal-content">
    <!-- モーダルウィンドウのコンテンツ開始 -->
    <h4><%= resort.name %></h4>
    <p><%= resort.detail %></p>
    <p><%=resort.address %></p>
    <p><a id="my-modal-close" class="my-button-link">閉じる</a></p>
    <!-- モーダルウィンドウのコンテンツ終了 -->
  </div>
<% end %>
<div class="container" style="padding: 10px 0px 10px 0px">
<%= render 'layouts/header' %>
<nav>
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#home" data-toggle="tab"><span class="text-muted"><strong>お酒</strong></span></a></li>
    <li><a href="#about3" data-toggle = "tab"><span class="text-muted"><strong>店舗</strong></a></span></li>
  </ul>
</nav>
<div class="tab-content">
  <!-- 酒 -->
  <div class="tab-pane active" id="home">
    <div class="tab_bottom_form">
      <div class="navbar-form navbar-left">
        <%= form_for :search, url: drinks_path, method: :get do |f| %>
          <div class="form-group">
            <%= f.text_field :name, class: 'form-control', placeholder: 'お酒の名前' %>
          </div>
         <%= f.submit '検索', class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
    <div class="slide_stage">
      <div id="photo1" class="pic">
        <%= image_tag 'slide_folder/drink1.jpg', alt: '...', width: '100%', height: 'auto' %>
      </div>
      <div id="photo2" class="pic">
        <%= image_tag 'slide_folder/drink2.jpg', alt: '...', width: '100%', height: 'auto' %>
      </div>
      <div id="photo3" class="pic">
        <%= image_tag 'slide_folder/drink3.jpg', alt: '...', width: '100%', height: 'auto' %>
      </div>
      <div id="photo4" class="pic">
        <%= image_tag 'slide_folder/drink4.jpg', alt: '...', width: '100%', height: 'auto' %>
      </div>
      <div id="photo5" class="pic">
        <%= image_tag 'slide_folder/drink5.jpg', alt: '...', width: '100%', height: 'auto' %>
      </div>
　　　<div style="padding:28%;"></div>
    </div>

   <div class = "radio_bottan_wrapper">
    <%= form_for :search, url: drinks_path, method: :get do |f| %>
      <div class="center">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">お酒の種類</h3>
          </div>
          <%= f.hidden_field 'name' %>
          <ul>
            <% @alcoholics.each do |a| %>
              <li>
                <%= f.radio_button 'alcoholic', a.id, {} %>
                <%= f.label :alcoholics, a.name %>
              </li>
            <% end %>
          </ul>
          <%= f.hidden_field 'brewer' %>
        </div>
      </div>
      <div class="center">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">アルコール度数</h3>
          </div>
          <ul>
            <% @alcohol.each do |a| %>
              <li>
                <%= f.radio_button 'alcohol', a[:number], {} %>
                <%= f.label :alcohol, a[:text] %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div id="sake_bottan">
        <%= f.submit '検索', class: 'btn btn-default' %>
      </div>
    <% end %>
    </div>
  </div>
  <div class="tab-pane" id="about">
    <!-- 料理の名前 -->
    <div class="tab_bottom_form">
      <div class="navbar-form navbar-left">
        <%= form_for :search, url: dishes_path, method: :get do |f| %>
          <div class="form-group">
            <%= f.text_field :name, class: 'form-control', placeholder: '料理の名前' %>
          </div>
          <%= f.submit '検索', class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
    <%= form_for :search, url: stores_path, method: :get do |f| %>
      <div class="center2">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title"> 高知の郷土料理 </h3>
          </div>
          <% @dishes.each do |d| %>
            <%= f.label :name, d.name %>
            <%= f.radio_button 'dish', d.id, {} %>
          <% end %>
        </div>
      </div>
      <%= f.submit '検索', class: 'btn btn-default' %>
    <% end %>
  </div>
  <!-- 観光地 -->
  <div class="tab-pane" id="about2">
    <div class="tab_bottom_form">
      <div class="navbar-form navbar-left">
        <%= form_for :search, url: stores_path, method: :get do |f| %>
          <div class="form-group">
            <%= f.text_field :name, class: 'form-control', placeholder: '観光地の名前で近くの店を' %>
          </div>
          <%= f.submit '検索', class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
    <%= form_for :search, url: stores_path, method: :get do |f| %>
      <div class="center2">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title"> 観光地 </h3>
            <p> 観光地を指定して、その近くのお店を調べましょう </p>
          </div>
          <% @resorts.each do |r| %>
            <%= f.label :name, r.name %>
            <%= f.radio_button 'resort', r.id, {} %>
          <% end %>
        </div>
      </div>
      <%= f.submit '検索', class: 'btn btn-default' %>
    <% end %>
  </div>
  <!-- 店 -->
  <div class="tab-pane" id="about3">
    <div class="tab_bottom_form">
      <div class="navbar-form navbar-left">
        <%= form_for :search, url: stores_path, method: :get do |f| %>
          <div class="form-group">
            <%= f.text_field :name, class: 'form-control', placeholder: '店の名前' %>
          </div>
          <%= f.submit '検索', class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
    <div class="slide_stage">
      <div id="photo1" class="pic">
        <%= image_tag 'slide_folder/store1.jpg', alt: '...', width: '100%', height: 'auto' %>
      </div>
      <div id="photo2" class="pic">
        <%= image_tag 'slide_folder/store2.jpg', alt: '...', width: '100%', height: 'auto' %>
      </div>
      <div id="photo3" class="pic">
        <%= image_tag 'slide_folder/store3.jpg', alt: '...', width: '100%', height: 'auto' %>
      </div>
      <div id="photo4" class="pic">
        <%= image_tag 'slide_folder/store4.jpg', alt: '...', width: '100%', height: 'auto' %>
      </div>
      <div id="photo5" class="pic">
        <%= image_tag 'slide_folder/store5.jpg', alt: '...', width: '100%', height: 'auto' %>
      </div>
　　　<div style="padding:28%;"></div>
    </div>

<div class = "radio_bottan_wrapper">
<%= form_for :search, url: stores_path, method: :get do |f| %>
      <div class="center2">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title"> 名所 </h3>
          </div>
          <ul>
            <% @resorts.each do |d| %>
              <li>
                <%= f.radio_button 'resort', d.id, {} %>
                <%= f.label :name, d.name %>
                <a class="my-modal-syncer my-button-link" data-target="my-modal-content-0<%=d.id%>">詳細を見る</a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="center2">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title"> 酒 </h3>
          </div>
          <ul>
            <% @drinks.each do |d| %>
              <li>
                <%= f.radio_button 'dirnk', d.id, {} %>
                <%= f.label :name, d.name %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="center2">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title"> 郷土料理 </h3>
          </div>
          <ul>
            <% @dishes.each do |d| %>
              <li>
                <%= f.radio_button 'dish', d.id, {} %>
                <%= f.label :name, d.name %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <%= f.submit '検索', class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
<%= render 'layouts/footer' %>
</div>
<%= javascript_include_tag '/javascripts/jquery-2.1.4.min.js' %>
<%= javascript_include_tag '/javascripts/modal-multi.js' %>
