<h1>Indexes#index</h1>
<p>Find me in app/views/indexes/index.html.erb</p>

<div>
  <% unless store_signed_in? %>
    <% if user_signed_in? %>
      <%= link_to 'User Page', user_path(current_user) %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign Up', new_user_registration_path %> |
      <%= link_to 'Sign In', new_user_session_path %>
    <% end %>
  <% end %>
</div>
<body>
        <div class = "container" style = "padding:10px 0px 10px 0px">

<!--header部分削除しております-->


          <ul class = "nav nav-tabs nav-justified">
            <li class = "active"><a href = "#home" data-toggle = "tab"><span class="text-muted"><h4>お酒</h4></span></a></li>
            <li><a href = "#about" data-toggle = "tab"><span class="text-muted"><h4>食材</h4></span></a></li>
            <li><a href = "#about2" data-toggle = "tab"><span class="text-muted"><h4>観光地</h4></span></a></li>
            <li><a href = "#about3" data-toggle = "tab"><span class="text-muted"><h4>店舗</h4></a></span></li>
          </ul>

          <div class = "tab-content">
            <div class = "tab-pane active" id = "home">
              <div class = "tab_bottom_form">
              <%= form_for(@drink) do |f|>
              <div class="form-group">
                <%= text_field_tag :search, params[:search] %>
              </div>
              <%= f.submit "検索" %>
              <% end %>
              </div>
              <div class = "range">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">
  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                  </ol>

  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <img src="../img/slide_folder/view1.jpg" alt = "..." width="700" height="440">
                    </div>
                    <div class="item">
                      <img src="../img/slide_folder/view2.jpg" alt="..." width="700" height="440">
                    </div>
                    <div class="item">
                      <img src="../img/slide_folder/view3.jpg" alt="..." width="700" height="440">
                    </div>
                    <div class="item">
                      <img src="../img/slide_folder/view4.jpg" alt="...">
                    </div>
                    <div class="item">
                      <img src="../img/slide_folder/view5.jpg" alt="...">
                    </div>
                  </div>


  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>

              <div class = "center">
                <div class="panel panel-warning">
                  <div class="panel-heading">
                    <h3 class="panel-title">お酒の種類</h3>
                  </div>
                  <div class = "line">
                    <label class="checkbox-inline"><%= f.check_box :{}, '0' %>ビール</label>
                    <label class="checkbox-inline"><%= f.check_box :{}, '0' %>日本酒</label>
                    <label class="checkbox-inline"><%= f.check_box :{}, '0' %>焼酎</label>
                  </div>
                  <div class = "line">
                    <label class="checkbox-inline"><%= f.check_box :{}, '0' %>ワイン</label>
                    <label class="checkbox-inline"><%= f.check_box :{}, '0' %>カクテル</label>
                    <label class="checkbox-inline"><%= f.check_box :{}, '0' %>サワー</label>
                  </div>
                  <div class = "line">
                    <label class="checkbox-inline"><%= f.check_box :{}, '0' %>果実酒</label>
                    <label class="checkbox-inline"><%= f.check_box :{}, '0' %>ウイスキー</label>
                    <label class="checkbox-inline"><%= f.check_box :{}, '0' %>チュウハイ</label>
                  </div>
                </div>
              </div>

              <div class = "center">
                <div class="panel panel-warning">
                  <div class="panel-heading">
                    <h3 class="panel-title">お酒の味</h3>
                  </div>
                  <div class = "line">
                    <label class="checkbox-inline"><%= f.check_box :{}, '0' %>甘い</label>
                    <label class="checkbox-inline"><%= f.check_box :{}, '0' %>辛い</label>
                    <label class="checkbox-inline"><%= f.check_box :{}, '0' %>渋い</label>
                    <label class="checkbox-inline"><%= f.check_box :{}, '0' %>酸っぱい</label>
                  </div>
                </div>
             </div>

             <div class = "center">
               <div class="panel panel-warning">
                 <div class="panel-heading">
                   <h3 class="panel-title">アルコール度数</h3>
                 </div>
                 <div class = "line">
                   <label class="checkbox-inline"><%= f.check_box :{}, '0' %>3%以下</label>
                   <label class="checkbox-inline"><%= f.check_box :{}, '0' %>5%以下</label>
                   <label class="checkbox-inline"><%= f.check_box :{}, '0' %>10%以下</label>
                 </div>
                 <div class = "line">
                   <label class="checkbox-inline"><%= f.check_box :{}, '0' %>15%以下</label>
                   <label class="checkbox-inline"><%= f.check_box :{}, '0' %>20%以下</label>
                   <label class="checkbox-inline"><%= f.check_box :{}, '0' %>40%以下</label>
                 </div>
                 <div class = "line">
                   <label class="checkbox-inline"><%= f.check_box :{}, '0' %>40%以上</label>
                 </div>
               </div>
             </div>
             <div id = "sake_bottan">
               <% submit_tag "検索" %>
             </div>
           </div>


           <div class = "tab-pane" id = "about">
             <div class = "tab_bottom_form">
             <%= form_for(@dishes) do |f|>
             <div class="form-group">
               <%= text_field_tag :search, params[:search] %>
             </div>
             <% submit_tag "検索" %>
             <% end %>
           </div>
             <div class = "range">
               <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">
  <!-- Indicators -->
                 <ol class="carousel-indicators">
                   <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                   <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                   <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                   <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                   <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                 </ol>

  <!-- Wrapper for slides -->
               <div class="carousel-inner" role="listbox">
                 <div class="item active">
                   <img src="./img/view6.png" alt="..." width="700" height="440">
                 </div>
                 <div class="item">
                   <img src="../img/view7.jpg" alt="..." width="700" height="440">
                 </div>
                 <div class="item">
                   <img src="../img/view8.jpg" alt="..." width="700" height="440">
                 </div>
                 <div class="item">
                   <img src="../img/view9.jpg" alt="...">
                 </div>
                 <div class="item">
                   <img src="../img/view10.jpg" alt="...">
                 </div>
               </div>



  <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>


            <div class="center2">
              <div class="panel panel-warning">
                <div class="panel-heading">
                  <h3 class="panel-title">高知の魚</h3>
                </div>
                <div class = "line">
                  <label class="checkbox-inline"><%= f.check_box :{}, '0' %>タタキ</label>
                  <label class="checkbox-inline"><%= f.check_box :{}, '0' %>アオアジ</label>
                </div>
                <div class = "line">
                  <label class="checkbox-inline"><%= f.check_box :{}, '0' %>カツオ</label>
                  <label class="checkbox-inline"><%= f.check_box :{}, '0' %>イシダイ</label>
                </div>
              </div>
            </div>

            <div class="center2">
              <div class="panel panel-warning">
                <div class="panel-heading">
                  <h3 class="panel-title">高知の肉</h3>
                </div>
                <div class = "line">
                  <label class="checkbox-inline"><%= f.check_box :{}, '0' %>土佐地鶏</label>
                  <label class="checkbox-inline"><%= f.check_box :{}, '0' %>雉</label>
                  <label class="checkbox-inline"><%= f.check_box :{}, '0' %>いのしし</label>
                </div>
              </div>
            </div>

            <div class="center2">
              <div class="panel panel-warning">
                <div class="panel-heading">
                  <h3 class="panel-title">高知の野菜</h3>
                </div>
                <div class = "line">
                  <label class="checkbox-inline"><%= f.check_box :{}, '0' %>ゆず</label>
                  <label class="checkbox-inline"><%= f.check_box :{}, '0' %>オクラ</label>
                  <label class="checkbox-inline"><%= f.check_box :{}, '0' %>なす</label>
                </div>
                <div class = "line">
                  <label class="checkbox-inline"><%= f.check_box :{}, '0' %>ニラ</label>
                  <label class="checkbox-inline"><%= f.check_box :{}, '0' %>みょうが</label>
                </div>
              </div>
            </div>

            <div class="center2">
              <div class="panel panel-warning">
                <div class="panel-heading">
                  <h3 class="panel-title">高知の郷土料理</h3>
                </div>
                <div class = "line">
                  <label class="checkbox-inline"><%= f.check_box :{}, '0' %>カツオのタタキ</label>
                  <label class="checkbox-inline"><%= f.check_box :{}, '0' %>ペラ焼き</label>
                </div>
                <div class = "line">
                  <label class="checkbox-inline"><%= f.check_box :{}, '0' %>中日そば</label>
                  <label class="checkbox-inline"><%= f.check_box :{}, '0' %>皿鉢料理</label>
                </div>
                <div class = "line">
                  <label class="checkbox-inline"><%= f.check_box :{}, '0' %>釜あげちりめん丼</label>
                </div>
              </div>
           </div>
           <div id = "shokuzai_bottan">
             <%= f.submit "検索" %>
           </div>
         </div>



         <div class = "tab-pane" id = "about2">
           <div class = "tab_bottom_form">
           <%= form_for(@resorts) do |f|>
           <div class="form-group">
             <%= text_field_tag :search, params[:search] %>
           </div>
           <%= f.submit "検索" %>
           <% end %>
         </div>
           <div class = "range">
             <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">
<!-- Indicators -->
               <ol class="carousel-indicators">
                 <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                 <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                 <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                 <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                 <li data-target="#carousel-example-generic" data-slide-to="4"></li>
               </ol>

<!-- Wrapper for slides -->
               <div class="carousel-inner" role="listbox">
                 <div class="item active">
                   <img src="../img/light1.jpg" alt = "..." width="700" height="440">
                 </div>
                 <div class="item">
                   <img src="../img/light2.png" alt="..." width="700" height="440">
                 </div>
                 <div class="item">
                   <img src="../img/light3.png" alt="..." width="700" height="440">
                 </div>
                 <div class="item">
                   <img src="../img/light4.png" alt="..." width="700" height="440">
                 </div>
                 <div class="item">
                   <img src="../img/light5.png" alt="..." width="700" height="440">
                 </div>
               </div>



<!-- Controls -->
               <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                 <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                 <span class="sr-only">Previous</span>
               </a>
               <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                 <span class="sr-only">Next</span>
               </a>
             </div>
           </div>

      <!--高知の観光地ベスト5-------------------->
           <div id = "tab_wrapper">
             <h2>高知の観光地ベスト5</h2>
             <HR style="margin: 3em 0;">
        <!-- ここからモーダルウィンドウ -->
        <!-- 1つ目のコンテンツ開始 -->
             <div id="modal-content-01" class="modal-content">
               <img src="../img/light1.jpg" class="modal-img">
               <h3> 観光と探検と学術価値3拍子揃った神秘の宮殿　龍河洞 </h3>
                 <p> 日本の代表的観光鍾乳洞で、幻想的で神秘的な世界を体感できる。
                     洞内出口付近に弥生時代の穴居生活の跡があり、特に石灰華に包まれた弥生式土器は世界的にも珍しい。
                     また、最近開放中の冒険コースは狭い道を這って進んだり、丸木の梯子を登ったり等、真っ暗闇への体験ができる。（事前の予約が必要） </p>
                 <p><a id="modal-close" class="button-link">閉じる</a></p>
             </div>
        <!-- 1つ目のコンテンツ終了 -->

        <!-- 2つ目のコンテンツ開始 -->
        　　　<div id="modal-content-02" class="modal-content">
          　　  <img src="../img/light2.png" class="modal-img">
               <p> 全長196km。四国では最長の大河。『最後の清流』として知られ、現在でも伝統的な川魚漁が行われている。上流から下流に数多く残っている沈下橋は、今も住民の交通路であるとともに、四万十川の風物詩となっている。 </p>
               <p><a id="modal-close" class="button-link">閉じる</a></p>
             </div>
        <!-- 2つ目のコンテンツ終了 -->

        <!-- 3つ目のコンテンツ開始 -->
             <div id="modal-content-03" class="modal-content">
               <img src="../img/light3.png" class="modal-img">
               <h3>壮大な岩、荒々しい海、空海が残した数々の伝説、パワースポットなど盛りだくさん　地球の営みを体感できるスポット！</h3>
               <p>室戸岬は古くは海の難所として知られ、海岸は奇岩が乱立し、亜熱帯性樹林や海岸植物が茂り、1964年6月に室戸阿南海岸国定公園の指定を受け、2011年9月に世界ジオパークに認定されています。また、室戸世界ジオパークセンターでは、ジオパークについて分かりやすく紹介しています。</p>
               <p><a id="modal-close" class="button-link">閉じる</a></p>
             </div>
        <!-- 3つ目のコンテンツ終了 -->

        <!-- 4つ目のコンテンツ開始 -->
             <div id="modal-content-04" class="modal-content">
               <img src="../img/light4.png" class="modal-img">
               <h3>壮大な岩、荒々しい海、空海が残した数々の伝説、パワースポットなど盛りだくさん　地球の営みを体感できるスポット！</h3>
               <p>室戸岬は古くは海の難所として知られ、海岸は奇岩が乱立し、亜熱帯性樹林や海岸植物が茂り、1964年6月に室戸阿南海岸国定公園の指定を受け、2011年9月に世界ジオパークに認定されています。また、室戸世界ジオパークセンターでは、ジオパークについて分かりやすく紹介しています。</p>
               <p><a id="modal-close" class="button-link">閉じる</a></p>
             </div>
        <!-- 4つ目のコンテンツ終了 -->

        <!-- 5つ目のコンテンツ開始 -->
             <div id="modal-content-05" class="modal-content">
               <img src="../img/light5.png" class="modal-img">
               <h3>壮大な岩、荒々しい海、空海が残した数々の伝説、パワースポットなど盛りだくさん　地球の営みを体感できるスポット！</h3>
               <p>室戸岬は古くは海の難所として知られ、海岸は奇岩が乱立し、亜熱帯性樹林や海岸植物が茂り、1964年6月に室戸阿南海岸国定公園の指定を受け、2011年9月に世界ジオパークに認定されています。また、室戸世界ジオパークセンターでは、ジオパークについて分かりやすく紹介しています。</p>
               <p><a id="modal-close" class="button-link">閉じる</a></p>
             </div>
        <!-- 5つ目のコンテンツ終了 -->

             <p><a class="modal-syncer button-link" data-target="modal-content-01">龍河洞</a></p>
             <p><a class="modal-syncer button-link" data-target="modal-content-02">四万十川</a></p>
             <p><a class="modal-syncer button-link" data-target="modal-content-03">桂浜</a></p>
             <p><a class="modal-syncer button-link" data-target="modal-content-04">室戸岬</a></p>
             <p><a class="modal-syncer button-link" data-target="modal-content-05">若宮八幡宮</a></p>

             <HR style="margin: 3em 0;">
           </div><!--tab_wrapper-->
         </div>



         <div class = "tab-pane" id = "about3">
           <div class = "tab_bottom_form">
           <%= form_for(@store) do |f|>
           <div class="form-group">
             <%= text_field_tag :search, params[:search] %>
           </div>
           <%= f.submit "検索" %>
           <% end %>
         </div>
           <div class = "range">
             <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">
<!-- Indicators -->
               <ol class="carousel-indicators">
                 <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                 <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                 <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                 <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                 <li data-target="#carousel-example-generic" data-slide-to="4"></li>
               </ol>

<!-- Wrapper for slides -->
               <div class="carousel-inner" role="listbox">
                 <div class="item active">
                   <img src="../img/store.jpg" alt = "..." width="700" height="440">
                 </div>
                 <div class="item">
                   <img src="../img/store2.jpg" alt="..." width="700" height="440">
                 </div>
                 <div class="item">
                   <img src="../img/store3.jpg" alt="..." width="700" height="440">
                 </div>
                 <div class="item">
                   <img src="../img/store4.jpg" alt="..." width="700" height="440">
                 </div>
                 <div class="item">
                   <img src="../img/store5.jpg" alt="..." width="700" height="440">
                 </div>
               </div>



<!-- Controls -->
               <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                 <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                 <span class="sr-only">Previous</span>
               </a>
               <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                 <span class="sr-only">Next</span>
               </a>
             </div>
          </div>
          <div id = "municipality">
            <div class="panel panel-warning">
               <div class="panel-heading">
                 <h3 class="panel-title">市町村検索</h3>
               </div>
               <div class = "line">
                 <label class="checkbox-inline"><%= f.check_box :{}, '0' %>高知市</label>
                 <label class="checkbox-inline"><%= f.check_box :{}, '0' %>南国市</label>
                 <label class="checkbox-inline"><%= f.check_box :{}, '0' %>室戸市</label>
               </div>
               <div class = "line">
                 <label class="checkbox-inline"><%= f.check_box :{}, '0' %>安芸市</label>
                 <label class="checkbox-inline"><%= f.check_box :{}, '0' %>土佐市</label>
                 <label class="checkbox-inline"><%= f.check_box :{}, '0' %>須崎市</label>
               </div>
               <div class = "line">
                 <label class="checkbox-inline"><%= f.check_box :{}, '0' %>宿毛市</label>
                 <label class="checkbox-inline"><%= f.check_box :{}, '0' %>土佐清水市</label>
                 <label class="checkbox-inline"><%= f.check_box :{}, '0' %>四万十市</label>
               </div>
             </div>
           </div>
           <div id= "average_budget">
             <div class="panel panel-warning">
               <div class="panel-heading">
                 <h3 class="panel-title">平均予算から検索</h3>
               </div>
               <div class = "line">
                 <label class="checkbox-inline"><%= f.check_box :{}, '0' %>3000円以下</label>
                 <label class="checkbox-inline"><%= f.check_box :{}, '0' %>3500円以下</label>
                 <label class="checkbox-inline"><%= f.check_box :{}, '0' %>4000円以下</label>
               </div>
               <div class = "line">
                 <label class="checkbox-inline"><%= f.check_box :{}, '0' %>4500円以下</label>
                 <label class="checkbox-inline"><%= f.check_box :{}, '0' %>5000円以下</label>
                 <label class="checkbox-inline"><%= f.check_box :{}, '0' %>5001円以上</label>
               </div>
             </div>
         </div>
         <div id = "kankouti_bottan">
           <%= f.submit "検索" %>
         </div>
       </div>



    <!--高知のオススメ3------------------------------>
       <div class="main2-app text-center">
         <div class="container">
           <div class="row">
             <div class="col-sm-12">
               <h2>高知のオススメ3</h2>
    	         <div class="row">
    	           <div class="col-sm-4">
    	             <div class="main2-sub">
    		             <img src="img/best1.png" alt="" class="img-circle_center-block">
    		             <h3><1位>有機ゆずの100%果汁</h3>
    		             <p>ファイル・フォルダの共有やインターネット公開ができ、ファイルをアップロード、ダウンロードすることができます。</p>
    	             </div>
    	           </div><!-- col -->

    	           <div class="col-sm-4">
    	             <div class="main2-sub">
    		             <img src="img/best2.png" alt="" class="img-circle_center-block">
    		             <h3><2位>四万十川 川のり佃煮</h3>
    		             <p>ブラウザからメールを利用できる機能です。普段ご利用されているメールの送受信などをアプリ上から行うことができます。</p>
    	             </div>
    	           </div><!-- col -->

    	           <div class="col-sm-4">
    	             <div class="main2-sub">
    	               <img src="img/best3.png" alt="" class="img-circle_center-block">
    		             <h3><3位>土佐の赤かつお</h3>
    		             <p>ドラッグ＆ドロップで簡単に予定を登録。参加者の予定を一覧で確認でき、簡単に予定を調整することが可能です。</p>
    	             </div>
    	           </div><!-- col -->
               </div><!-- row -->
             </div><!-- col -->
           </div><!-- row -->
         </div><!-- container -->
       </div>

       <div id = "event_all">
         <h2>高知のイベント情報</h2>
         <div id = "event1">
           <a href = "http://xmas.walkerplus.com/detail/ar0939il17654/"><img src = "../img/event.png" class = "event"></a>
           <a href = "http://kochi-bunkazaidan.or.jp/~museum/"><img src = "../img/event2.png" class = "event"></a>
           <a href = "http://www.city.kochi.kochi.jp/deeps/17/1712/animal/index.htm"><img src = "../img/event3.png" class = "event"></a>
         </div>
         <div id = "event2">
           <a href = "http://www.kochi-bunkazaidan.or.jp/~rekimin/"><img src = "../img/event4.png" class = "event"></a>
           <a href = "http://www.ryoma-kinenkan.jp/"><img src = "../img/event5.png" class = "event"></a>
           <a href = "http://anpanman-museum.net/"><img src = "../img/event6.png" class = "event"></a>
         </div>
       </div>
     </div>
   </div>
 </div>

   <script>
     $('.carousel').carousel({
       interval: 2000
     })
     $(function(){
       $("[data-toggle = tooltip]").tooltip();
     });
   </script>

   <div class="content">
        <!-- ここからボタン -->
     <div id="page-top" class="page-top">
       <p><a id="move-page-top" class="move-page-top"><img src = "./img/pt.png"></a></p>
     </div>
   </div>
  </div>
 </div>
</body>
<div>
  <% unless user_signed_in? %>
    <% if store_signed_in? %>
      <%= link_to '店アカウントの専用ページ', store_configurations_path(current_store) %>
      <%= link_to '店アカウント用ログアウト', destroy_store_session_path, method: :delete %>
    <% else %>
      <%= link_to '店アカウント作成申請', new_store_registration_path %>
      <%= link_to '店アカウント用ログイン', new_store_session_path %>
    <% end %>
  <% end %>
</div>
