<div class="container" style="padding: 10px 0px 10px 0px">
<%= render 'layouts/header' %>

<nav>
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#home" data-toggle="tab"><span class="text-muted"><strong>お酒</strong></span></a></li>
    <li><a href="#about" data-toggle = "tab"><span class="text-muted"><strong>食材</strong></span></a></li>
    <li><a href="#about2" data-toggle = "tab"><span class="text-muted"><strong>観光地</strong></span></a></li>
    <li><a href="#about3" data-toggle = "tab"><span class="text-muted"><strong>店舗</strong></a></span></li>
  </ul>
</nav>


<div class="tab-content">
  <div class="tab-pane active" id="home">
    <div class="tab_bottom_form">
      <div class="navbar-form navbar-left">
        <%= form_for :search, url: drinks_path, method: :get do |f| %>
          <div class="form-group">
            <%= f.text_field :name, class: 'form-control', placeholder: 'お酒の名前' %>
          </div>
          <%= f.submit '検索', class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>

    <div class="range">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag 'slide_folder/view1.jpg', alt: '...', width: '700', height: '440' %>
          </div>
          <div class="item">
            <%= image_tag 'slide_folder/view2.jpg', alt: '...', width: '700', height: '440' %>
          </div>
          <div class="item">
            <%= image_tag 'slide_folder/view3.jpg', alt: '...', width: '700', height: '440' %>
          </div>
          <div class="item">
            <%= image_tag 'slide_folder/view4.jpg', alt: '...', width: '700', height: '440' %>
          </div>
          <div class="item">
            <%= image_tag 'slide_folder/view5.jpg', alt: '...', width: '700', height: '440' %>
          </div>
        </div>

        <%= link_to '#carousel-example-generic', class: 'left carousel-control', role: 'button', data: { 'data-slide' => 'prev' } do %>
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        <% end %>
        <%= link_to '#carousel-example-generic', class: 'right carousel-control', role: 'button', data: { 'data-slide' => 'next' } do %>
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        <% end %>

      </div>
    </div>


    <%= form_for :search, url: drinks_path, method: :get do |f| %>
      <div class="center">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">お酒の種類</h3>
          </div>
          <%= f.hidden_field 'name' %>
          <% @alcoholics.each do |a| %>
            <%= f.label :alcoholics, a.name %>
            <%= f.radio_button 'alcoholic', a.id, {} %>
          <% end %>
          <%= f.hidden_field 'brewer' %>
        </div>
      </div>

      <div class="center">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">お酒の種類</h3>
          </div>
          <!--<%# @alcoholics.each do |a| %>
            <label>
              <%#= a.name %>
            </label>
          <%# end %>-->
        </div>
      </div>

      <div class="center">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">アルコール度数</h3>
          </div>
          <% @alcohol.each do |a| %>
            <%= f.label :alcohol, a[:text] %>
            <%= f.radio_button 'alcohol', a[:number], {} %>
          <% end %>
        </div>
      </div>
      <div id="sake_bottan">
        <%= f.submit '検索', class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>



  <div class="tab-pane" id="about">
    <div class="tab_bottom_form">
      <div class="navbar-form navbar-left">
        <%= form_for :search, url: dishes_path, method: :get do |f| %>
          <div class="form-group">
            <%= f.text_field :name, class: 'form-control', placeholder: '料理の名前' %>
          </div>
          <%= f.submit '検索', class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>


    <div class="range">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag 'view6.png', alt: '...', width: 700, height: 440 %>
          </div>
          <div class="item">
            <%= image_tag 'view7.jpg', alt: '...', width: 700, height: 440 %>
          </div>
          <div class="item">
            <%= image_tag 'view8.jpg', alt: '...', width: 700, height: 440 %>
          </div>
          <div class="item">
            <%= image_tag 'view9.jpg', alt: '...', width: 700, height: 440 %>
          </div>
          <div class="item">
            <%= image_tag 'view10.jpg', alt: '...', width: 700, height: 440 %>
          </div>
        </div>

        <%= link_to '#carousel-example-generic', class: 'left carousel-control', role: 'button', data: { 'data-slide' => 'prev' } do %>
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        <% end %>
        <%= link_to '#carousel-example-generic', class: 'right carousel-control', role: 'button', data: { 'data-slide' => 'next' } do %>
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        <% end %>

      </div>
    </div>
  </div>


  <div class="tab-pane" id="about2">
    <div class="tab_bottom_form">
      <form class="navbar-form navbar-left" role="search" action="<%= stores_path %>" method="get">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="検索">
        </div>
        <%= submit_tag '検索', class: 'btn btn-default' %>
      </form>
    </div>


    <div class="range">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag 'light1.jpg', alt: '...', width: 700, height: 440 %>
          </div>
          <div class="item">
            <%= image_tag 'light2.png', alt: '...', width: 700, height: 440 %>
          </div>
          <div class="item">
            <%= image_tag 'light3.png', alt: '...', width: 700, height: 440 %>
          </div>
          <div class="item">
            <%= image_tag 'light4.png', alt: '...', width: 700, height: 440 %>
          </div>
          <div class="item">
            <%= image_tag 'light5.png', alt: '...', width: 700, height: 440 %>
          </div>
        </div>

        <%= link_to '#carousel-example-generic', class: 'left carousel-control', role: 'button', data: { 'data-slide' => 'prev' } do %>
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        <% end %>
        <%= link_to '#carousel-example-generic', class: 'right carousel-control', role: 'button', data: { 'data-slide' => 'next' } do %>
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        <% end %>

      </div>
    </div>
  </div>


  <div class="tab-pane" id="about3">
    <div class="tab_bottom_form">
      <form class="navbar-form navbar-left" role="search" action="<%= stores_path %>" method="get">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="検索">
        </div>
        <%= submit_tag '検索', class: 'btn btn-default' %>
      </form>
    </div>


    <div class="range">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag 'store.jpg', alt: '...', width: 700, height: 440 %>
          </div>
          <div class="item">
            <%= image_tag 'store2.png', alt: '...', width: 700, height: 440 %>
          </div>
          <div class="item">
            <%= image_tag 'store3.png', alt: '...', width: 700, height: 440 %>
          </div>
          <div class="item">
            <%= image_tag 'store4.png', alt: '...', width: 700, height: 440 %>
          </div>
          <div class="item">
            <%= image_tag 'store5.png', alt: '...', width: 700, height: 440 %>
          </div>
        </div>

        <%= link_to '#carousel-example-generic', class: 'left carousel-control', role: 'button', data: { 'data-slide' => 'prev' } do %>
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        <% end %>
        <%= link_to '#carousel-example-generic', class: 'right carousel-control', role: 'button', data: { 'data-slide' => 'next' } do %>
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        <% end %>

      </div>
    </div>
  </div>

</div>

<%= render 'layouts/footer' %>
</div>
