<h2>Log in</h2>
<body>

	<header>
   <div class="container">
     <div class="header-left">
       <img class="logo1" src="./../img/のんべえ2.png">
     </div>
     <div class="header-left">
       <img class="logo2" src="./../img/rogo3.png">
     </div>
   </div>
 </header>

<div id="site-box">



<p class="title_name">
ユーザログイン画面
<br>
</p>

<%= form_tag do %>
<p class="text10">
ユーザネーム:<input type="name" name="name" /> <br>
<br>
パスワード:<input type="password" name="password" />
<br>
<br>
<a href="top.html">
<input type="submit" value="ログイン" />
</a>
</p>
<% end %>

<p class="kotira">
新規登録の方は<a href="Y_register.html">こちら</a> <br>
パスワードを忘れた方は<a href="Y_password.html">こちら</a>
</p>

<footer>
  <HR style="margin: 1em 0 ;">
  <div class="Copyright">
    Copyright (C) 2016 Spirytus. All Rights Reserved.
  </div>
</footer>


</div>
</body>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
