<%= render 'layouts/header' %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="store-registration">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'store-registration__form') do |f| %>
          <div class="field store-registration__field">
            <%= f.label :name, '店舗名 : ' %>
            <%= f.text_field :name, autofocus: true %>
          </div>
          <br />
          <div class="field store-registration__field">
            <%= f.label :email, 'メールアドレス : ' %>
            <%= f.email_field :email %>
          </div>
          <br />
          <div class="field store-registration__field">
            <%= f.label :password, 'パスワード : ' %>
            <%= f.password_field :password, autocomplete: "off" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
          </div>
          <br />
          <div class="field store-registration__field">
            <%= f.label :password_confirmation, 'パスワード(再入力) : ' %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
          </div>
          <br />
          <div class="field store-registration__field">
            <%= f.label :municipality_id, '市区町村 : ' %>
            <%= f.collection_select :municipality_id, Municipality.all, :id, :name %>
          </div>
          <br />
          <div class="field store-registration__field">
            <%= f.label :address, '住所 : ' %>
            <%= f.text_field :address %>
          </div>
          <br />
          <div class="field store-registration__field">
            <%= f.label :phone_number, '電話番号 : ' %>
            <%= f.text_field :phone_number %>
          </div>
          <br />
          <div class="field store-registration__field">
            <%= f.label :budget, '平均予算 : ' %>
            <%= f.text_field :budget %>
          </div>
          <br />
          <div class="field store-registration__field">
            <%= f.label :detail, '詳細 : ' %>
            <%= f.text_area :detail, size: "30×48" %>
          </div>
          <br />
          <div class="field store-registration__field">
            <%= f.submit "Sign up" %>
          </div>
        <% end %>
        <br />
        <%= render "stores/shared/links" %>
        </div>
      </div>
    </div>
  </div>
<%= render 'layouts/footer' %>
