<h1> user/indexes/show </h1>
<div id="profile">
  <p>プロフィール</p>
  <%= @user.name %><br />
  <%= @user.email %><br />
  <% if @user.thumbnail? %>
    <div>
      <%= image_tag @user.thumbnail.url %>
    </div>
  <% end %>
  <%= link_to 'プロフィールを編集する', edit_user_path(@user) %>
</div>
<div id="fovorite_drinks">
  <p>お気に入りのお酒</p>
  <% @user.favorite_drinks.each do |f| %>
    <%= f.name %><br />
  <% end %>
</div>
<div id="favorite_stores">
  <p>お気に入りの店舗</p>
  <% @user.favorite_stores.each do |f| %>
    <%= f.name %><br />
  <% end %>
</div>
<div id="dinks_reviews">
  <p>お酒のレビュー</p>
  <% @drink_reviews.each do |r| %>
    <%= r.body %><br />
    <%= r.param1 %><br />
    <%= r.param2 %><br />
    <%= r.param3 %><br />
    <%= r.param4 %><br />
    <%= r.param5 %><br />
    <%= r.param6 %><br />
  <% end %>
</div>
<div id="store_reviews">
  <p>店舗のレビュー</p>
  <% @store_reviews.each do |r| %>
    <%= r.body %><br />
  <% end %>
</div>
