<%= form_for @dish do |d| %>
  <p>
    <%= d.label :name, '名称' %>
    <%= d.text_field :name %>
  </p>
  <p>
    <%= d.label :detail, '詳細' %>
    <%= d.text_field :detail %>
  </p>
    <%= d.submit '登録する' %>
<% end %>
