<h1>お酒編集画面</h1>

<%= form_for @drink do |f| %>

<p>
  <%= f.label :name, '名前' %><br>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :alcohol, 'アルコール度数' %><br>
  <%= f.text_field :alcohol %>
</p>

<p>
  <%= f.label :detail, '詳細' %><br>
  <%= f.text_field :detail %>
</p>

<p>
  <%= f.label :alcoholic, '種類' %><br>
  <%= f.collection_select :alcoholic_id, Alcoholic.all, :id, :name, selected: @drink.alcoholic_id %>
</p>

<p>
  <%= f.label :brewer, '酒造' %><br>
  <%= f.collection_select :brewer_id, Brewer.all, :id, :name, selected: @drink.brewer_id %>
</p>

<p>
  <%= f.submit '変更を保存' %>
</p>

<% end %>
