<%= render 'layouts/header' %>

<div class="drink-search-criteria">
  <p class="drink-index-text"><%= @search_criteria %>で検索した結果</p>
</div>

<div class="drink-result-list">
  <% @drinks.each do |drink| %>
  <p class="drink-index-text">
    <%= link_to drink.name, drink_path(drink.id) %>
    <% if store_signed_in? %>
      <%= link_to "編集", edit_drink_path(drink.id) %>
      <%= link_to "削除", drink_path(drink.id), method: :delete, data: { confirm: "削除してよろしいでしょうか？" } %>
    <% end %>
  </p>
  <% end %>
<%= will_paginate @drinks, previous_label: '<前ページ', next_label: '次ページ>' %>
</div>

<div class="drink-index-search-form">
  <%= form_for :search, method: "get" do |f| %>
    <p>
      <%= f.label :name, '名前' %><br>
      <%= f.text_field :name %>
    </p>

    <p class="drink-index-text">酒類</p>
    <p>
      <% @alcoholics.each do |a| %>
        <%= f.label :alcoholics, a.name %>
        <%= f.radio_button 'alcoholic', a.id, {} %>
      <% end %>
    </p>

    <p class="drink-index-text">アルコール度数</p>
    <p>
      <% @alcohol.each do |a| %>
        <%= f.label :alcohol, a[:text] %>
        <%= f.radio_button 'alcohol', a[:number], {} %>
      <% end %>
    </p>

    <p>
      <%= submit_tag "検索" %>
    </p>
  <% end %>
</div>

<% if store_signed_in? %>
  <p><%= link_to "新規追加", new_drink_path %></p>
<% end %>

<%= render 'layouts/footer' %>
