<%= render 'layouts/header' %>

<div class="drink-search-criteria">
  <p class="drink-index-text"><%= @search_criteria %>で検索した結果</p>
</div>

<div class="drink-result-list">
  <% @drinks.each do |drink| %>
  <p class="drink-index-text">
    <%= link_to drink.name, drink_path(drink.id) %>
    <% if store_signed_in? %>
      <%= link_to "編集", edit_drink_path(drink.id) %>
      <%= link_to "削除", drink_path(drink.id), method: :delete, data: { confirm: "削除してよろしいでしょうか？" } %>
    <% end %>
  </p>
  <% end %>
<%= will_paginate @drinks, previous_label: '<前ページ', next_label: '次ページ>' %>
</div>

<% if store_signed_in? %>
  <p><%= link_to "新規追加", new_drink_path %></p>
<% end %>

<%= render 'layouts/footer' %>
