<%= render 'layouts/header' %>

<div class="container">
  <div class="store-search-criteria">
    <p class="store-index-text"><%= @search_criteria %>で検索した結果</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <% @stores.each do |store| %>
          <%= link_to store, class: 'search-results-item__link' do %>
            <li class="search-results-item media">
              <div class="media-left media-middle">
                <% if store.image? %>
                  <%= image_tag store.image.url, class: 'search-results-item__thumbnail' %>
                <% else %>
                  <%= image_tag '#', class: 'search-results-item__thumbnail' %>
                <% end %>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><%= store.name %></h4>
                <p><%= store.detail %></p>
                <p><span class="glyphicon glyphicon-earphone"></span><%= store.phone_number %></p>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
      <%= will_paginate @stores, previous_label: '<前ページ', next_label: '次ページ>' %>

    </div>
  </div>
</div>

<%= render 'layouts/footer' %>
