<%= form_for @new_review do |f| %>

<p>  お酒レビュー投稿画面　</p>
<p>  <%= f.text_area :body, size: '110×30' %> </p>

<script type='text/javascript'>
$(function(){
  $.fn.raty.defaults.path = '/assets/';
  $('#param1').raty({
    click: function(score, evt) {
      $('#param1_score').val(score);
    }
  });
  $('#param2').raty({
    click: function(score, evt) {
      $('#param2_score').val(score);
    }
  });
  $('#param3').raty({
    click: function(score, evt) {
      $('#param3_score').val(score);
    }
  });
  $('#param4').raty({
    click: function(score, evt) {
      $('#param4_score').val(score);
    }
  });
  $('#param5').raty({
    click: function(score, evt) {
      $('#param5_score').val(score);
    }
  });
  $('#param6').raty({
    click: function(score, evt) {
      $('#param6_score').val(score);
    }
  });
});
</script>

<p> <%= @new_review.drink.alcoholic.item1 %></p>
<div id='param1'></div>
<%= f.hidden_field :param1 ,id: :param1_score%>

<p> <%= @new_review.drink.alcoholic.item2 %> </p>
<div id='param2'></div>
<%= f.hidden_field :param2, id: :param2_score %>

<% if @new_review.drink.alcoholic.item3 %>
<p> <%= @new_review.drink.alcoholic.item3 %> </p>
<div id='param3'></div>
<%= f.hidden_field :param3 ,id: :param3_score%>
<% end %>

<% if @new_review.drink.alcoholic.item4? %>
<p> <%= @new_review.drink.alcoholic.item4 %> </p>
<div id='param4'></div>
<%= f.hidden_field :param4 ,id: :param4_score%>
<% end %>

<% if @new_review.drink.alcoholic.item5? %>
<p> <%= @new_review.drink.alcoholic.item5 %> </p>
<div id='param5'></div>
<%= f.hidden_field :param5 ,id: :param5_score%>
<% end %>

<% if @new_review.drink.alcoholic.item6? %>
<p> <%= @new_review.drink.alcoholic.item6 %> </p>
<div id='param6'></div>
<%= f.hidden_field :param6 ,id: :param6_score%>
<% end %>

<p>
  <%= f.submit "投稿"%>
</p>

<% end %>
