<p> review </p>

<p><%= @reviews.body %></p>
<!--<%= link_to 'New', new_drink_review_path %>
<table>


     @reviews.each do |review| %>
  <tr>
    <td><%= @reviews.body %></td>
    <td><%= @reviews.param1 %></td>
    <td><%= @reviews.param2 %></td>
    <td><%= @reviews.id %> </td>
  </tr>
  <% end %>


</table>

-->
