<h1> stores/contents/new.html.erb </h1>

<%= form_for(@content, url: :store_contents, html: { method: 'post' }) do |f| %>
  <%= f.label(:image, '画像') %>
  <%= f.file_field :image %>
  <br>

  <%= f.label(:description, '説明') %>
  <%= f.text_field :description %>
  <br>

  <%= f.check_box(:top, {}, true, false) %>
  <%= f.label(:top, '画面のトップに置く') %>
  <br>

  <%= link_to('前のページに戻る', :back) %>
  <%= f.submit('作成') %>
<% end %>
