<h1> stores/configurations/index </h1>

<p id="notice"> <%= notice %> </p>
<p>
  <strong> 取り扱っているお酒: </strong>
</p>
<% @store.store_drinks.each do |r| %>
  <%= r.drink.name %>
<% end %>
<% @have_drinks.each do |drink| %>
  <p>  </p>
<% end %>

<p>
  <strong> 取り扱っている郷土料理: </strong>
</p>
<% @have_dishes.each do |dish| %>
  <p><%= dish.name %></p>
<% end %>

<p>
  <strong> 近くの観光地: </strong>
</p>
<% @close_resorts.each do |resort| %>
  <p><%= resort.name %></p>
<% end %>

<%= link_to '設定を編集', new_store_configuration_path %>
<br>
<%= link_to 'コンテンツ', store_contents_path %>
