<h1> stores/configurations/new </h1>

<%= nested_form_for @store do |f| %>
  <p>
    <strong> 取り扱っているお酒: </strong>
  </p>
  <%= f.fields_for :store_drinks do |drink| %>
    <%= drink.hidden_field :id %>
    <%= drink.collection_select(:drink_id, Drink.all, :id, :name, {include_blank: 'お酒を選んでください'}) %>
    <%= drink.link_to_remove '削除' %>
  <% end %>
  <p>
  <%= f.link_to_add "新規追加", :store_drinks %>
  </p>
  <br />
  <div>
    <%= link_to('前のページに戻る', :back) %><br />
    <%= f.submit('変更を登録') %>
  </div>
<% end %>
