<h1> stores/configurations/new </h1>

<%= form_for @store, url: store_configurations_path, html: { method: 'post' } do |f| %>
  <p>
    <strong> 取り扱っているお酒: </strong>
  </p>
  <%= f.nested_fields_for :store_drinks do |ff| %>
    <%= ff.hidden_field :id %>
    <%= ff.collection_select(:drink_id, Drink.all, :id, :name, {include_blank: 'お酒を選んでください'}) %>
    <%= ff.remove_nested_fields_link '削除' %>
  <% end %>
  <p>
    <%= f.add_nested_fields_link :store_drinks, '追加する' %>
  </p>
  <br />

  <p>
    <strong> 取り扱っている郷土料理: </strong>
  </p>
  <%= f.nested_fields_for :store_dishes do |ff| %>
    <%= ff.hidden_field :id %>
    <%= ff.collection_select(:dish_id, Dish.all, :id, :name, {include_blank: '郷土料理を選んでください'}) %>
    <%= ff.remove_nested_fields_link '削除' %>
  <% end %>
  <p>
    <%= f.add_nested_fields_link :store_dishes, '追加する' %>
  </p>
  <br />

  <p>
    <strong> 近くの観光地: </strong>
  </p>
  <%= f.nested_fields_for :resort_stores do |ff| %>
    <%= ff.hidden_field :id %>
    <%= ff.collection_select(:resort_id, Resort.all, :id, :name, {include_blank: '観光地を選んでください'}) %>
    <%= ff.remove_nested_fields_link '削除' %>
  <% end %>
  <p>
    <%= f.add_nested_fields_link :resort_stores, '追加する' %>
  </p>
  <br />

  <div>
    <%= f.submit('変更を登録') %>
  </div>
<% end %>

<%= link_to('前のページに戻る', :back) %><br />
