<header>
  <%= image_tag 'rogo.png', class: 'header-log' %>
  <div class="header-login">
    <% unless store_signed_in? %>
      <% if user_signed_in? %>
        <%= button_tag class: 'btn btn-default' do %>
          <%= link_to 'User Page', user_path(current_user) %>
        <% end %>
        <%= button_tag class: 'btn btn-default' do %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        <% end %>
      <% else %>
        <%= button_tag class: 'btn btn-default' do %>
          <%= link_to 'Sign Up', new_user_registration_path %>
        <% end %>
        <%= button_tag class: 'btn btn-default' do %>
          <%= link_to 'Sign In', new_user_session_path %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</header>
